
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: roboto, sans-serif;
}

.container > div:first-child{
  padding: 60px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: all 0.2s ease;
}

.container > div:last-child{
  padding: 60px;
}

.container > div:hover:first-child{
  background-color: white;
  color: black;
  padding: 40px;
  border: 1px solid black;
  box-shadow: 0 0 4px 4px black;
  cursor: pointer;
}
